<Say::Hint @size="small" @type="sectioned" as |hint|>
	<hint.header>
    {{info.label}}
    <p class="smaller u-spacer--top--tiny">Vindt u het juiste bestuurorgaan niet? Meld aan met de juiste bestuurseenheid.</p>
	</hint.header>
	{{#if getBestuursorganen.isRunning}}
		<hint.content @padded="small">
	    <div class="u-padding--round">
	      <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
	    </div>
		</hint.content>
  {{else if bestuursorganenInTijd.length}}
	  <hint.list as |list|>
      {{#each bestuursorganenInTijd as |b| }}
	      <list.item @execute={{action "refer" b}} @actionLabel="Kies" >
          {{b.isTijdsspecialisatieVan.naam}}
          <p class="small text-fade uppercase">
            {{#if b.bindingEinde}}
              van {{moment-format b.bindingStart 'DD/MM/YYYY'}} - {{moment-format b.bindingEinde 'DD/MM/YYYY'}}
            {{else}}
              vanaf {{moment-format b.bindingStart 'DD/MM/YYYY'}}
            {{/if}}
          </p>
				</list.item>
      {{/each}}
		</hint.list>
  {{else}}
		<hint.content @padded="small">
      <p>Geen besturen gevonden. Vernieuw deze pagina, of kijk of uw internetconnectie in orde is.</p>
      <br>
      <p>Moest dit probleem aanhouden, neem contact op met <a href="mailto:Gelinkt-Notuleren@vlaanderen.be">Gelinkt-Notuleren@vlaanderen.be</a>.</p>
		</hint.content>
  {{/if}}
</Say::Hint>
{{yield}}
