<p class="u-spacer--tiny">{{info.label}} <br>
  {{#if getBestuursorganen.isRunning}}
    <div class="loader"><span class="u-visually-hidden">Aan het laden</span></div>
  {{else}}
    {{#each bestuursorganenProperties as |bp| }}
      {{bp.bestuursorgaan.naam}} als {{bp.property.label}}
      {{#wu-button-group}}
        {{wu-button label="Voeg toe" size="small" isNarrow=true  commandLocation="below" onClick=(action "refer" bp)}}
        {{wu-button label="Voeg toe (uitgebreid)" size="small" isNarrow=true  commandLocation="below" onClick=(action "extend" bp)}}
      {{/wu-button-group}}
    {{/each}}
  {{/if}}
</p>

{{yield}}
